<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{%static 'Social/css/master.css'%}">

</head>
<body>
    <nav class="navbar mynav" role="navigation" id ="navbar">
        <div class="container">
            <a href="{% url 'home' %}" class="navbar-brand mynav">Coding Social</a> 

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'posts:create' %}" class="btn btn-simple">Post</a></li>
                    <li><a href="{% url 'groups:all' %}" class="btn btn-simple">Groups</a></li>
                    <li><a href="{% url 'groups:create'%}" class="btn btn-simple">Create Group</a></li>
                    <li><a href="{% url 'accounts:logout' %}" class=" btn btn-simple">Log out </a></li>
                {% else %}
                    <li><a href="{% url 'groups:all' %}"class='btn btn-simple'>Groups</a></li>
                    <li><a href="{% url 'accounts:login'%}" class="btn btn-simple">Sign In</a></li>
                    <li><a href="{% url 'accounts:signup' %}" class="btn btn-simple"> Sign Up</a></li>
                {% endif %}    
            </ul>

        </div>

    </nav>
    <div class="container mycontent">
        
      
        {% block content %}

        {% endblock %}

    </div>

<canvas id="canvas"></canvas>    
    
</body>


<script src="{% static "Social/js/master.js"%}" type="text/javascript" ></script>
</html>